@import "variables.scss";

.editable-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: editable-list;
  li{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
    &:not(.active):hover{
      cursor: pointer;
    }
    @media (max-width: $medium-size){
      padding: 10px 0;
    }
    &:before{
      content: counter(editable-list) ".";
      counter-increment: editable-list;
      color: $gray;
      margin: 0 20px 0 10px;;
      @media (max-width: $medium-size){
        margin: 0 15px 0 10px;
        font-size: 14px;
        width: 20px;
      }
      font-weight: bold;
      width: 25px;
      text-align: right;
    }
    .toolbar{
      color: $gray;
      display: flex;
      align-items: center;
      margin-right: 5px;
      .icon{
        flex: 1;
        font-size: 10px;
        &.arrow{
          font-size: 6px;
        }
        margin-left: 5px;
        padding: 5px;
        cursor: pointer;
      }
    }
    .form-control{
      margin-bottom: 0;
      font-family: $font;
      input{
        border: none;
        font-size: 16px;
        padding: 10px 0;
      }
    }
    .value{
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .no-value{
        color: $gray;
      }
    }
    &:nth-child(odd){
      background-color: lighten($lightgray, 15);
    }
    &.active{
      box-shadow: 0 0 30px rgba(0,0,0,0.1);
      transition: all 0.3s;
      flex-wrap: wrap;
      background: white;
      z-index: 1;
      position: relative;
      //padding-bottom: 10px;
      @media (max-width: $medium-size){
        input{
          font-size: 14px;
        }
      }
      &:before{
        color: $primary;
      }
      .description{
        flex: 100%;
        margin-top: 10px;
        input{
          font-size: 14px;
        }
        
        @media (min-width: $medium-size){
          margin: 10px -10px -5px -10px;
          padding: 10px 25px 0 25px;
        }
        @media (max-width: $medium-size){
          padding: 5px 20px;
          margin-bottom: -10px;
          input{
            font-size: 12px;
          }
        }
        border-top: solid 3px $primary;
      }
    }
    &.new{
      .icon{
        color: $primary;
        padding: 10px;
        cursor: pointer;
      }
    }
  } 
}

.new-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  cursor: pointer;
  .icon{
    color: $gray;
    margin-right: 15px;
  }
}

.animate-height{
  &-enter{
    max-height: 0;
    opacity: 0.01;
    transition: all 800ms ease;
    &-active{
      max-height: 50px;
      opacity: 1;
      transition: all 800ms ease;
    }
  }
  &-leave{
    max-height: 50px;
    opacity: 1;
    transition: all 800ms ease;
    &-active{
      max-height: 0;
      opacity: 0.01;
      transition: all 800ms ease;
    }
  }
}