@import 'normalize.css';
@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body, #__next{
  height: 100%;
  width: 100%;
}

p {
  font-size: xx-large;
  color: $black;
}

body{
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0,0,0,0.002);
  font-weight: 400;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: $primary;
}

::selection {
  color: white; 
  background: $primary;
}

.layout{
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  @media (min-width: $small-size) and (max-width: $medium-size) {
    padding: 0 40px;
  }
}

.centered-layout{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header{
  display: flex;
  font-size: 14px;
  width: 100%;
  .left, .right{
    width: 150px;
  }
  .center{
    flex: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  .right{
    display: flex;
    align-items: center;
    padding: 20px 0;
    color: $gray;
    .icon{
      color: $lightgray;
      margin-right: 5px;
    }
    .user-profile{
      position: relative;
      cursor: pointer;
      text-align: right;
      flex: 1;
    }
  }
}

.page-title{
  font-size: 16px;
  color: $gray;
}

ul.dropdown-menu{
  position: absolute;
  right: 0;
  padding: 0;
  margin: 15px 0 0 -5px;
  list-style: none;
  padding: 5px 0;
  background: white;
  z-index: 1;
  box-shadow: 0 0 10px $lightgray;
  color: $black;
  li{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-align: left;
    padding: 8px 25px 8px 20px;
    transition: background 0.3s;
    &:hover{
      background: rgba(0,0,0,0.05);
      transition: background 0.3s;
      cursor: pointer;
    }
    .icon{
      color: $lightgray;
      width: 15px;
      font-size: 12px;
      display: inline-block;
    }
  }
  &:before{
    content: "";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    right: 5px;
  }
}

nav{
  margin: 10px 0;
  .menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    li{
      margin-right: 15px;
      display: inline-block;
      padding: 5px 15px;
      background: whitesmoke;
      transition: all 0.3s;
      &:hover, &.active{
        background: darken(whitesmoke, 20);
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }
}

.switch-nav{
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  display: flex;
  li{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: $gray;
    transition: all 0.3s;
    font-size: 14px;
    &:not(.active){
      &:hover{
        cursor: pointer;
      }
    }
    &.active{
      color: $primary;
      transition: all 0.3s;
    }
  }
}

.btn{
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 35px 12px 20px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 13px;
  background: lighten($lightgray, 10);
  transition: all 0.3s;
  position: relative;
  &:hover{
    background: lighten($lightgray, 5);
    transition: all 0.3s;
    cursor: pointer;
    span.text:after{
      right: -18px !important;
      transition: all 0.3s;
    }
  }
  &.full{
    width: 100%;
  }
  &.big{
    padding: 20px 35px;
    text-transform: none;
    font-size: 14px;
    letter-spacing: normal;
    &.fb{
      background-color: #3b5998;
      color: white;
      &:hover{
        background-color: darken(#3b5998, 10);
      }
    }
  }
  &.hasicon{
    display: flex;
    align-items: center;
    .icon{
      font-size: 18px;
      margin-right: 15px;
      opacity: 0.5;
    }
  }
  &.primary{
    background-color: $primary;
    color: white;
    &:hover{
      background-color: darken($primary, 5);
    }
  }
  span.text:not(.nochevron){
    display: flex;
    align-items: center;
    position: relative;
    &:after{
      position: absolute;
      font-family: 'fonticons';
      content: "\e903";
      opacity: 0.4;
      top: 0;
      right: -15px;
      transition: all 0.3s;
    }
  }
  &.disabled{
    opacity: 0.6;
    cursor: not-allowed;
    transition: all 0.3s;
  }
}

.form-separator{
  height: 2px;
  width: calc(100% - 20px);
  background: $lightgray;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    padding: 0 15px;
    background: white;
  }
}

.form-control{
  display: flex;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.4s;
  .icon{
    position: absolute;
    color: $lightgray;
    font-size: 14px;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  input{
    flex: 1;
    border: solid 1px lighten($lightgray, 10);
    padding: 10px 10px 10px 40px;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    transition: all 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &.has-error{
    margin-bottom: 25px;
    transition: all 0.4s;
    .icon{
      color: lighten($red-error, 20);
      transition: all 0.3s;
    }
    input{
      border-color: lighten($red-error, 30);
      transition: all 0.3s;
    }
    .error{
      position: absolute;
      left: 0;
      right: 0;
      bottom: -25px;
      height: 25px;
      font-size: 12px;
      display: flex;
      align-items: center;
      color: $red-error;
      span{
        font-weight: bold;
        margin: 0 5px;
        opacity: 0.5;
      }
    }
  }
  &.has-success{
    .icon{
      color: $primary;
      transition: all 0.3s;
    }
    input{
      border-color: $success;
      transition: all 0.3s;
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gray;
  font-weight: normal;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray;
    font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $gray;
    font-weight: normal;
}

.message{
  font-size: 13px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  &:before{
    margin-right: 6px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  &.error{
    color: $red-error;
    &:before{
      content: "!";
      color: white;
      background-color: $red-error;
    }
  }
  &.centered{
    justify-content: center;
  }
}