@import "variables.scss";

.my-forms{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
        display: flex;
        transition: all 0.3s;
        padding: 15px 10px;
        &:nth-child(odd){
            background-color: lighten($lightgray, 15);
        }
        .buttons{
            display: flex;
            flex-direction: column;
        }
        .info{
            display: flex;
            flex-direction: column;
        }
        .bottom-part{
           display: flex;
           padding: 0 15px;
           .item{
               color: $gray;
               font-size: 12px;
               margin-right: 15px;
               .icon{
                   font-size: 10px;
                   margin-right: 5px;
                   opacity: 0.3;
               }
           } 
        }
        h2{
            margin: 15px;
            font-size: 18px;
        }
    }
}